certifi
charset-normalizer
empyrical-reloaded
filelock
fsspec
idna
jinja2
lxml
MarkupSafe
mpmath
pandas-datareader
python-dateutil==2.9.0.post0
pytz
requests
scipy
six
sympy
typing
tzdata
urllib3
mamba-ssm

# PostgreSQL and environment dependencies
psycopg2-binary
sqlalchemy
python-dotenv
